body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: black;
}

input{
    text-align: center;
    font-family: Consolas, sans-serif;
    font-weight: 100;
    margin-top: 2px;
}

button{
    background-color: #666666;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

small{
    margin: 2px;
    font-size: 14px;
}


/* Content */

#content {
    background: #fff;
    border: solid 1px rgba(160, 160, 160, 0.3);

    width: 420px;
    height: 200px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#button{
    margin-top: 5px;
    width: 80px;
    height: 25px;
}