body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}

input{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 5px;
}

button{
    background-color: #666666;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.clear {
    clear: both;
}

/* Content */

#content {
    width: 200px;
    text-align: center;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#button{
    width: 80px;
    height: 25px;
}