body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}

.param{
    margin: 10px;
}

.clear {
    clear: both;
}

/* Content */

#content {
    margin: 0;
}

.table { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.row { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.cell { 
    margin: 5px;
}