body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}

.param{
    margin: 10px;
}

.clear {
    clear: both;
}

/* Content */

#content {
    margin: 0;
}

.table { 
    display: table; 
}

.row { 
    display: table-row; 
}

.cell { 
    display: table-cell; 
}