body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}

.param{
    margin: 4px;
}

.clear {
    clear: both;
}

/* Content */

#content {
    margin: 4px;
}

.table { 
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.row { 
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cell { 
    width: 150px;
    text-align: left;
}

#topleft, #topright, #bottomleft, #bottomright {
    height: 4px;
    width: 4px;
    position: fixed;
    display: block;
    z-index: 20;
}

#top, #bottom {
    height: 4px;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    background-color: #ccff00;
    z-index: 30
}

#left, #right {
    width: 4px;
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    background-color: #ccff00;
    z-index: 50;
}

#top {
    top: 0;
}
#bottom {
    bottom: 0;
}
#left {
    left: 0;
}
#right {
    right: 0;
}
#topleft {
    top: 0;
    left: 0;
}
#topright {
    top: 0;
    right: 0;
}
#bottomleft {
    bottom: 0;
    left: 0;
}
#bottomright {
    bottom: 0;
    right: 0;
}